/* Določim kako zgled in postavitev slike (samo logo) */
img {
	height: 100px;
	width: 75px;
	margin-left: 25px;
	margin-right: 25px;
}
/* posebni stil slik za pogoje */
.pogoji	{
	height: 100px;
	width: 100px;
	margin-left: 25px;
	margin-right: 25px;
}
/* posebni stil slik za licence */
.licence	{
	height: 100px;
	width: 150px;
	margin-left: 25px;
	margin-right: 25px;
}
/* Določim zgled naslovov (1. naslovi) */
h1 {
	background-color: #4800FF;
	color: white;
	font-size: 60px;
}
/* stil navigacijskega menija */
.navbar {
  overflow: hidden;
  background-color: #1A5BF0; 
}
/* linki v navigacijskem meniju */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* stil podnavigacijskega menija */
.subnav {
  float: left;
  overflow: hidden;
}
/* stil gumbov podnavigacijskega menija */
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Dodam da navigacijski link spremeni barvo, ko greš čez z miško */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #050005;
}
/* stil vsebine podnavigacijskega menija (je skrit, se ga ne vidi) */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #1A5BF0;
  width: 100%;
  z-index: 1;
}
/* stil linkov podnavigacijskega menija */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
/* dodam barvo vsebini podnavigacijskega menija, ko greš z miško čez */
.subnav-content a:hover {
  background-color: #050005;
  color: white;
}
/* ko greš z miško čez link, ki ima podnavigacijski menij, da se pokaže (ker je prej skrit) */
.subnav:hover .subnav-content {
  display: block;
}
/* stil 2. naslova */
h2	{
	font-size: 40px;
	margin-left: 5px;
	padding: 1px 16px;
}
/* stil paragrafa (vsebina) */
.besedilo	{
	font-size: 20px;
	margin-left: 5px;
	padding: 1px 16px;
}
/* barva ozadja */
body	{
	background-color: #86F0FF;
}
/* stil končnice */
footer	{
	position: bottom;
	background-color: #4800FF;
	color: white;
	font-size: 10px;
	text-align: center;
}
